html, body{
    width: 100vw;
    min-height: 100vh;
}
.box{
    width: 1200px;
    margin: 0 auto;
   
}
@media (max-width: 1200px) {
   .box{
       width: 100%;
   }
}   
.nav-box{
    width: 100%;
}
.bot-icons{
    position: relative;
    top: -2px;;
}